.swiper-button-prev::after {
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: 900;
    border: black;
    border-color: black;
    border-radius: 2px;



}

.swiper-button-next::after {
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: 900;
    border: black;
    border-color: black;
    border-radius: 2px;

}


@media only screen and (max-width: 800px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}