.step-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }
  .step-enter-active {
    opacity: 1;
    transform: translateX(0);
  }
  .step-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .step-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }
  